.body {
    flex: 1;
    background-color: rgb(55, 113, 190, 0.2);
    margin: 1.5vh;
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(0, 74, 173);
    border-radius: 3vh;
    display: flex;
    align-items: center;
    padding: 3vh;
    color: white;
    text-align: center;

}

.header h1 {
    margin: auto;
    font-size: 5vh;
}

.iconHome {
    height: 6vh;
    width: 6vh;
    color: white;
    cursor: pointer;
}

.main {
    display: flex;
    flex: 1;
}

.backgroundForm {
    margin: auto;
    background-color: white;
    padding: 2vh 3vh;
    border-radius: 3vh;
    display: flex;
    justify-content: space-between;
}

.backgroundForm form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backgroundForm form button {
    width: 25vh;
    padding: 1vh;
    margin-top: 2vh;
    border-radius: 3vh;
    background-color: rgb(0, 74, 173);
    color: white;
    border: none;
    font-family: "Krona One", serif;
    font-size: 2.5vh;
    cursor: pointer;
}

.iconPerc {
    background-color: rgb(0, 74, 173);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    margin-right: 2vh;
    height: 25vh;
    width: 25vh;
    padding: 2vh;

}

.iconPerc SVG {
    height: 20vh;
    width: 20vh;
}

.data {
    background-color: rgb(0, 74, 173);
    color: white;
    padding: 0.1vh 2vh;
    border-radius: 3vh;
    height: 28.8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.data div {
    display: flex;
    width: 45vh;
    justify-content: space-between;
}

.inputDefault {
    border-radius: 3vh;
    border: none;
    padding-left: 1vh;
    height: 2.8vh;
    margin-left: 2vh;
    width: 15vh;
    font-size: 1.5vh;
    text-align: center;
}

.ReadOnly {

    background-color: rgb(179, 179, 179);
}

.message {

    background-color: rgba(6, 53, 116, 0.95);
    display: flex;
    position: absolute;
    width: 35vh;
    height: 18vh;
    padding: 2vh;
    margin-top: 30vh;
    margin-left: 60vh;
    color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 2vh;
    font-size: 2vh;
    text-align: center;
}

.message button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    border-radius: 3vh;
    font-size: 1.3vh;
    padding: 1vh 4vh 1vh 4vh;
    margin-top: 3vh;
    cursor: pointer;

}