.Body_GetMP{
    margin-top: 2vh;
}

.header{
    display:flex;
    justify-content: space-between;
    margin-top: -2vh;
    
}

.header h2{
    color: white;
    padding: 2vh;
    padding-right: 2.5vh;
    background-color: rgb(0, 74, 173);
    text-align: start;
    border-radius: 2.5vh 2.5vh 0vh 0vh;
    font-size: 2vh;
}

.campo_add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pesquisar{
    display: flex;
    align-items: center;
    font-size: 1.5vh;
    margin-right: 2vh;
    justify-content: space-between;
}

.pesquisar select{
    border: none;
    border-radius: 1vh;
    margin-left: 2vh;
    height: 3vh;
    font-size: 1.5vh;
    width: 15vh;
    text-align: center;
    font-family: "Krona One", serif;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.pesquisar option{
    color: white;
    background-color: rgb(0, 74, 173); 
    border: none;
}

.pesquisar input{
    margin: 0vh 0vh 0vh 1vh;
    border: none;
    border-radius: 1vh 0vh 0vh 1vh;
    height: 2.55vh;
    padding-left: 1vh;
    padding: 0.5vh;
    width: 20vh;
    font-size: 1.5vh;
    text-align: center;

}

.icone_pesquisa svg{
    height: 3.5vh;
    width: 2vh;
    background-color: white;
    border-radius: 0vh 1vh 1vh 0vh;
    padding-right: 1vh ;
}

.icone_pesquisa{
    display: flex;
    align-items: center;
}

.inputPesquisa{
    display: flex;
    align-items: center;
}

.combo_box{
    height: 5vh;
}

.adicionar{
    color: white;
    padding: 2.5vh;
    padding-right: 3vh;
    background-color: rgb(0, 74, 173); 
    text-align: start;
    border-radius: 2.5vh 2.5vh 0vh 0vh;
    display: flex;
    align-items: center;
    margin-left: 2vh;
    cursor: pointer;
    height: 3vh;
}

.adicionar input{
    display: none;
}

.adicionar h4{
    color: white;
    font-size: 1.5vh;
}

.icone{
    margin-left: 10px;
    width: 2.5vh;
    height: 2.5vh;
    color: white;
}

.BackGroundRead {
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    scrollbar-width: none;
    width: 170vh;
}

.rotulo{
    margin: 1vh 0vh;
    padding: 1vh 2vh;
    background-color: rgb(0, 74, 173, 0.78);
    border-radius: 2vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 380vh;
}

.DefaultP {
    width: 12vh;
    font-size: 1.4vh;
    font-weight: bold;
    text-align: center;
    flex-shrink: 0;
    overflow-x: auto;
    overflow-x: scroll;
    scrollbar-width: none;
}

.read {
    background-color: rgb(255, 255, 255);
    padding: 0.9vh;
    border-radius: 0vh 0vh 2vh 2vh;
    width: 172vh;
}

.BackGroundRead {
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    scrollbar-width: none;
    width: 172vh;
    flex-direction: row;
    justify-content: space-around;
}

.conteudo {
    background-color: rgb(235, 235, 235);
    margin: 1vh 0vh;
    padding: 1vh 1.5vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 381vh;
}

.conteudo p {
    width: 17vh;
    font-size: 1.4vh;
    text-align: center;
    flex-shrink: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}

.iconOP{
    display: flex;
    justify-content: center;
}

.iconOP svg{
    height: 2vh;
    width: 2vh;
}

.leitura_erro{

    background-color: rgb(235, 235, 235);
    padding: 1vh 2vh 1.5vh 2vh;
    margin: 1vh 1vh 1vh 1vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;

}








