.body {
    display: flex;
    flex-direction: column;
}

.divParms {
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 0.5s;
}

.inputs {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;
    align-items: center;
    padding: 0.5vh 0;
    border-radius: 0 0 2vh 2vh;
}

.inputs div {
    width: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs div h4 {
    margin-right: 1vh;
    opacity: 0.7;
}

.inputsDefaults {
    width: 10vh;
    height: 2.5vh;
    border: none;
    border-radius: 2vh;
    background-color: rgb(217, 217, 217);
    text-align: center;
    transition: ease-in 0.5s;
}

.inputReadOnly {
    width: 10vh;
    height: 2.5vh;
    border: none;
    border-radius: 2vh;
    background-color: rgb(156, 156, 156);
    text-align: center;
    transition: ease-in 0.5s;
}

.AnalysisL {
    background-color: rgb(0, 59, 139);
    border: 0.5vh solid rgb(0, 59, 139);
    color: white;
    border-radius: 2vh;
    text-align: center;
    width: 45vh;
    height: 25.3vh;

}

.AnalysisL h1 {
    border-radius: 1.3vh 1.3vh 0 0;
    font-size: 2vh;
    padding: 1vh;
}

.AnalysisL ul {
    display: flex;
    justify-content: space-around;
    padding: 1vh;
}

.AnalysisL ul li {
    list-style: none;
    display: inline;
}

.LabelsizeDefault {
    width: 18vh;
    height: 2vh;
    font-size: 1.3vh;
}

.inputsAnalysisL {
    background-color: white;
    padding: 1vh;
    border-radius: 0 0 2vh 2vh;
}

.PartsBy {
    background-color: rgb(0, 59, 139);
    border: 0.5vh solid rgb(0, 59, 139);
    color: white;
    border-radius: 2vh;
    text-align: center;
    width: 45vh;
    height: 27vh;

}

.PartsBy h1 {
    background-color: rgb(0, 59, 139);
    border-radius: 1.3vh 1.3vh 0 0;
    font-size: 2vh;
    padding: 1vh;
}

.PartsBy ul {
    background-color: rgb(0, 59, 139);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh;
    height: 20.5vh;
    border-radius: 0 0 0 1.7vh;
    width: 20vh;
}

.PartsBy ul li {
    list-style: none;
    font-size: 1.3vh;

}

.inputsPartsBy {
    background-color: white;
    padding: 1vh 0;
    border-radius: 0 0 2vh 0;
}

.mainPartBy {
    display: flex;
}

.mainPartBy ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.mainPartBy div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.AnalysisT {
    background-color: rgb(0, 59, 139);
    border: 0.5vh solid rgb(0, 59, 139);
    color: white;
    border-radius: 2vh;
    text-align: center;
    width: 45vh;
}

.AnalysisT h1 {
    border-radius: 1.3vh 1.3vh 0 0;
    font-size: 2vh;
    padding: 1vh;
}

.mainAnalysisT {
    display: flex;
    font-size: 1.5vh;
}

.lateralLabelAnalisisT {
    width: 50%;
}

.lateralLabelAnalisisT ul {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.lateralLabelAnalisisT ul {
    list-style: none;
}

.lateralLabelAnalisisT p {

    display: flex;
    padding: 1vh 0;
    justify-content: space-around;
    font-size: 1.3vh;

}

.labelDefaultAnalisisT ul {
    display: flex;
    padding: 1vh 0;
    justify-content: space-around;
    padding-right: 2vh;
    font-size: 1.3vh;

}

.labelDefaultAnalisisT ul li {
    margin: 0 1.3vh;
    list-style: none;
}

.inputsAnalysisT {
    flex: 1;
    background-color: rgb(255, 255, 255);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    border-radius: 0 0 2vh 0;
}

.inputsAnalysisT div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3vh;
}

.message {

    background-color: rgba(6, 53, 116, 0.95);
    display: flex;
    position: absolute;
    width: 35vh;
    height: 18vh;
    padding: 2vh;
    margin-top: -5vh;
    margin-left: 60vh;
    color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 2vh;
    font-size: 2vh;
    text-align: center;
}

.message p {
    text-align: center;
    width: 30vh;
    margin-bottom: 2vh;
}

.message div {
    display: flex;
    width: 70%;
    justify-content: space-around;
    padding: 1vh;
}

.message button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    border-radius: 3vh;
    font-size: 1.3vh;
    padding: 1vh 4vh 1vh 4vh;
    cursor: pointer;
}