.body{
    display: flex;
    justify-content: space-between;    
}

.login{
    background-color: rgb(0, 70, 180);
    width: 50%;
    height: 100vh;
    color: white;
    justify-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttonIput{
    margin: auto;
}

.input{
    display: flex;
    flex-direction: column;
}

.buttonAndInput{
    margin: auto;
}

.input p{
    font-size: 4vh;
    margin-bottom: 2vh;
}

.input input{
    margin-bottom: 3vh;
    border: none;
    border-radius: 5vh;
    height: 5vh;
    width: 40vh;
    padding-left: 2vh;
    font-family: "Krona One", serif;
}

.password{
    display: flex;
}

.icon{
    margin-left: 1vh;
    height: 5vh;
    width: 5vh;
}

.buttonLogin{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.buttonLogin button{
    color: white;
    border: none;
    font-size: 3.5vh;
    padding: 1vh 2vh;
    width: 30vh;
    border-radius: 5vh;
    margin: auto;
    cursor: pointer;
    font-family: "Krona One", serif;
    background-color: rgb(42, 111, 204);
}

.logo{
    display: flex;
    width: 50%;
}

.logo div {
    margin: auto;
    background-color: rgb(0, 70, 180);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 60vh;
    border-radius: 35vh;
    color: white;
    box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.5);
}

.logo img{
    height: 50vh;
    width: 50vh;
    border-radius: 20vh;
}

.message {
    background-color: rgba(6, 53, 116, 0.95);
    display: flex;
    position: absolute;
    width: 35vh;
    height: 18vh;
    padding: 2vh;
    margin-top: 32vh;
    margin-left: 28vh;
    color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 2vh;
    font-size: 2vh;
    text-align: center;

}

.message p{
     text-align: center;
     width: 30vh;
     margin-bottom: 2vh;
}

.message button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    border-radius: 3vh;
    font-size: 1.3vh;
    padding: 1vh 4vh 1vh 4vh;
    cursor: pointer;
}
