.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bodyField {
    background-color: rgb(6, 63, 137);
    border-radius: 2vh;
    border: 0.5vh solid rgb(6, 63, 137);
    width: 30vh;
    font-size: 1.4vh;

}

.label {
    display: flex;
    border-radius: 1.5vh 1.5vh 0 0;
    color: white;
    padding: 0.8vh;
    justify-content: space-around;
    align-items: center;
}

.label select {
    background-color: white;
    width: 10vh;
    height: 2.5vh;
    border: none;
    border-radius: 2vh;
    text-align: center;

}

.main {
    background-color: white;
    border-radius: 0 0 2vh 2vh;
    padding: 1vh;
    display: flex;
    align-items: start;
    justify-content: space-around;
    height: 10vh;
}

.main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.main div input {
    width: 10vh;
    height: 2.5vh;
    text-align: center;
    border: none;
    border-radius: 2vh;
}

.defaultInput {
    background-color: rgb(230, 230, 230);
}

.readOnlyInput {

    background-color: rgb(180, 180, 180);

}

.alingFields {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.alingFields2 {
    display: flex;
    margin-bottom: 2vh;
    padding-left: 2vh;
    height: 100%;
}

.containerDashBoard{
    color: white;
    background-color: rgb(6, 63, 137, 0.4);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 1vh;
    border-radius: 2vh;
    border: 0.5vh solid rgb(6, 63, 137);
    text-align: start;
    width: 100%;
    padding-bottom: 1vh;
}

.containerDashBoard h2{
    background-color: rgb(6, 63, 137);
    width: 100%;
    text-align: center;
    padding: 1.3vh 0;
    border-radius: 1.5vh 1.5vh 0 0;
}



