.conteiner{
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: rgb(188, 209, 236);
    
}

.body{
    height: 100vh;
    display: flex;
    background-color: rgb(188, 209, 236);
}