.body {
    margin-top: 2vh;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h2 {
    color: white;
    padding: 2vh;
    padding-right: 2.5vh;
    background-color: rgb(0, 74, 173);
    text-align: start;
    border-radius: 2.5vh 2.5vh 0vh 0vh;
    font-size: 2vh;
}

.campo_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pesquisar {
    display: flex;
    align-items: center;
    font-size: 1.5vh;
    margin-right: 2vh;
    justify-content: space-between;
}

.pesquisar select {
    border: none;
    border-radius: 1vh;
    margin-left: 2vh;
    height: 3vh;
    font-size: 1.5vh;
    width: 15vh;
    text-align: center;
    font-family: "Krona One", serif;

}

.pesquisar option {
    color: white;
    background-color: rgb(0, 74, 173);
    border: none;
}

.pesquisar input {
    margin: 0vh 0vh 0vh 1vh;
    border: none;
    border-radius: 1vh 0vh 0vh 1vh;
    height: 2.55vh;
    padding-left: 1vh;
    padding: 0.5vh;
    width: 20vh;
    font-size: 1.5vh;
    text-align: center;

}

.icone_pesquisa svg {
    height: 3.5vh;
    width: 2vh;
    background-color: white;
    border-radius: 0vh 1vh 1vh 0vh;
    padding-right: 1vh;
}

.icone_pesquisa {
    display: flex;
    align-items: center;
}

.inputPesquisa {
    display: flex;
    align-items: center;
}

.combo_box {
    height: 5vh;
}

.adicionar {
    color: white;
    padding: 2vh;
    padding-right: 2.5vh;
    background-color: rgb(0, 74, 173);
    text-align: start;
    border-radius: 2.5vh 2.5vh 0vh 0vh;
    font-size: 1.5vh;
    display: flex;
    align-items: center;
    margin-left: 2vh;
    cursor: pointer;
}

.adicionar input {
    display: none;
}

.icone {
    margin-left: 1vh;
    width: 2.5vh;
    height: 2.5vh;
}

.read {
    background-color: rgb(255, 255, 255);
    padding: 0.8vh;
    border-radius: 0vh 0vh 2vh 2vh;
    width: 170vh;
}

.BackGroundRead {
    padding: 1vh;
    overflow-x: auto;
    scrollbar-width: none;
    overflow-y: auto;
}

.label {
    background-color: rgb(0, 74, 173);
    border-radius: 1.5vh;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1.3vh 1vh;
    width: 180vh;
    margin-bottom: 1vh;
}

.defaultLi {
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 13vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.descriptionLi {
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 25vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.spaceLi {
    list-style: none;
    width: 2vh;
}

.MPRegister {
    background-color: rgb(230, 230, 230);
    border-radius: 1.5vh;
    display: flex;
    justify-content: space-around;
    padding: 1vh;
    width: 180vh;
    margin-bottom: 1vh;
}

.defaultLiRegister {
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 13vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.liRegistrationDescription {
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 25vh;
    text-align: start;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
}

.iconsMP {
    list-style: none;
    width: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsMP svg {
    cursor: pointer;
}

.leitura_erro {

    background-color: rgb(235, 235, 235);
    padding: 1vh 2vh 1vh 2vh;
    margin: 1vh 1vh 1vh 1vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;

}

.message {

    background-color: rgba(6, 53, 116, 0.95);
    display: flex;
    position: absolute;
    width: 35vh;
    height: 18vh;
    padding: 2vh;
    top: 20vh;
    left: 90vh;
    color: rgb(255, 255, 255);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 2vh;
    font-size: 2vh;
    text-align: center;
}

.message p {
    text-align: center;
    width: 30vh;
    margin-bottom: 2vh;
}

.message button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    border-radius: 3vh;
    font-size: 1.3vh;
    padding: 1vh 4vh 1vh 4vh;
    cursor: pointer;
}