.body{
    background-color: rgb(188, 209, 236);
    font-family: "Krona One", serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: rgb(15, 15, 15);
}

*{
    margin: 0;
    font-family: "Krona One", serif;
}