.Body {
    margin-top: 2vh;
}

.header {
    display: flex;
    justify-content: space-between;

}

.header h2 {
    color: white;
    padding: 2vh;
    padding-right: 2.5vh;
    background-color: rgb(0, 74, 173);
    text-align: start;
    border-radius: 2.5vh 2.5vh 0vh 0vh;
    font-size: 2vh;
}

.campo_add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pesquisar {
    display: flex;
    align-items: center;
    font-size: 1.5vh;
    margin-right: 7vh;
    justify-content: space-between;
}

.pesquisar select {
    border: none;
    border-radius: 2vh;
    margin-left: 2vh;
    height: 3vh;
    font-size: 1.5vh;
    width: 15vh;
    text-align: center;
    font-family: "Krona One", serif;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.pesquisar option {
    color: white;
    background-color: rgb(0, 74, 173);
    border: none;
}

.pesquisar input {
    margin: 0vh 0vh 0vh 1vh;
    border: none;
    border-radius: 2vh 0vh 0vh 2vh;
    height: 2.55vh;
    padding-left: 0.5vh;
    padding: 0.5vh;
    width: 26vh;
    font-size: 1.5vh;
    text-align: center;

}

.icone_pesquisa svg {
    height: 3.6vh;
    width: 2vh;
    background-color: white;
    border-radius: 0vh 2vh 2vh 0vh;
    padding-right: 1vh;
    margin-right: 8vh;
}

.icone_pesquisa {
    display: flex;
    align-items: center;
}

.inputPesquisa {
    display: flex;
    align-items: center;

}

.combo_box {
    height: 5vh;
}

.adicionar {
    color: white;
    padding: 2vh;
    padding-right: 2.5vh;
    background-color: rgb(0, 74, 173);
    text-align: start;
    border-radius: 3vh 3vh 0vh 0vh;
    font-size: 1.5vh;
    display: flex;
    align-items: center;
    margin-left: 2vh;
    cursor: pointer;
    height: 2.2vh;
}

.adicionar input {
    display: none;
}

.icone {
    margin-left: 1vh;
    width: 2.5vh;
    height: 2.5vh;
}

.read {
    background-color: rgb(255, 255, 255);
    padding: 0.8vh;
    border-radius: 3vh 3vh 2vh 2vh;
    width: 170vh;
}

.BackGroundRead {
    padding: 1vh;
    overflow-x: auto;
    scrollbar-width: none;
    overflow-y: auto;

}

.label {
    background-color: rgb(0, 74, 173);
    border-radius: 1.5vh;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1.3vh 1vh;
    width: 300vh;
    margin-bottom: 1vh;
}

.defaultLi {
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 20vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 2vh;
    font-weight: bold;
}

.spaceLi {
    list-style: none;
    width: 10vh;
}

.macRegister {
    background-color: rgb(230, 230, 230);
    border-radius: 1.5vh;
    display:flex;
    justify-content:center;
    padding: 1vh;
    width: 300vh;
    margin-bottom: 1vh;
}

.defaultLiRegister {
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 2vh;
    font-weight: bold;
    

}

.defaultLiRegisterCodigo {
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 11vh;
    text-align: center;
    align-items:center;
    justify-content:center;
    margin: 0 2vh;
    font-weight: bold;

}

.defaultLiRegisterDescricao{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 3vh;
    font-weight: bold;
}

.defaultLiRegisterLargura{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 3vh;
    font-weight: bold; 
}

.defaultLiRegisterPecas{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 2vh;
    font-weight: bold; 
}

.defaultLiRegisterenerg{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 5vh 0 0vh;
    font-weight: bold; 
}

.defaultLiRegisterCustM{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 3vh 0 2vh ;
    font-weight: bold; 
}

.defaultLiRegisterManutencao{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 3vh 0 1vh;
    font-weight: bold; 
}

.defaultLiRegisterInsumo{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 5vh 0 1vh;
    font-weight: bold;

}

.defaultLiRegisterTotalM{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 10vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 5vh 0 0vh;
    font-weight: bold;  
}

.defaultLiRegisterModEng{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 8vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 3vh 0 3vh;
    font-weight: bold;  
}

.defaultLiRegisterQtdaO{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 8vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 4vh 0 4vh;
    font-weight: bold; 
}

.defaultLiRegisterTotalMod{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 3vh 0 3vh;
    font-weight: bold; 
}

.defaultLiRegisterEficiOp{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 5vh 0 6vh;
    font-weight: bold;     
}


.defaultLiRegisterEficiM{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 -3vh 0 3vh;
    font-weight: bold;     
}

.defaultLiRegisterEficiPro{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 3vh 0 0vh;
    font-weight: bold;     
}

.defaultLiRegisterTaxaH{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 4vh 0 0vh;
    font-weight: bold;   
}

.defaultLiRegisterHabilitado{
    display: flex;
    list-style: none;
    font-size: 1.3vh;
    width: 15vh;
    text-align: center;
    align-items:center;
    justify-content: center;
    margin: 0 6vh 0 0vh;
    font-weight: bold;   
}

.iconeLapis {
    height: 2vh;
    width: 2vh;
}

.iconsMaq svg{

        cursor: pointer;
}